<form ng-submit="saveWallet()">
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstName" ng-model="firstName">
    </div>
  </div>

  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="lastName" ng-model="lastName">
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" ng-model="email">
    </div>
  </div>

  <div class="form-group row">
    <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="birthday" ng-model="birthday">
    </div>
  </div>

  <div class="form-group row">
    <label for="balance" class="col-sm-2 col-form-label">Initial Balance</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="balance" ng-model="balance">
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10">
      
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="cancel" class="btn btn-secondary">Cancel</button>
      <button id="submit-save" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<table class="table" name="walletsTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Birthday</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr name="walletRow" ng-repeat="wallet in wallets">
      <th name="id" scope="row">{{wallet.id}}</th>
      <td name="firstName">{{wallet.firstName}}</td>
      <td name="lastName">{{wallet.lastName}}</td>
      <td name="email">{{wallet.email}}</td>
      <td name="birthday">{{wallet.birthday}}</td>
      <td name="balance">Php {{wallet.balance}}</td>
    </tr>
  </tbody>
</table>
